<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>工作</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/style2.css">

<link rel="stylesheet" href="static/styles.css">
	  <!--運用Bootstrap設計主選單-->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark container-fluid fixed-top">
        <div class="container">
    
          <div class="col-sm-2">
            <div class="navbar-brand">
                <div class="collapse navbar-collapse justify-content-end " id="collapsibleNavbar"  >

                </div>    
          </div>
        </div>
      </nav>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body background="static/stone.jpg">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <div class="navbar-brand">Goals and Objectives</div>
        </div>
    	</nav>
    <br><br><br><br><br><br>

    <div class="box text_border">
        

        <div >
            <h5>One-Year Goals and Objectives</h5><br>
		Goal: Java、Python精熟，並且做出作品
	<h4>Objectives</h4>
            <p>1. 閱讀相關書籍</p>
            <p>2. 線上課程自我增值 </p>
            <p>3. 每天都要實作三小時</p>
        </div>
        <hr>

	<div >
            <h5>Three-Year Goals and Objectives</h5><br>
		Goal: 成為軟體工程師
		<h4>Objectives</h4>
            <p>1.校外實習</p>
            <p>2.完成作品集、刷面試考古題</p>
            <p>3.英語精進</p>
        </div>

        <div >
            <h5>Ten-Year Goals and Objectives</h5><br>
		Goal: 買一棟透天厝
		<h4>Objectives</h4>
            <p>1. 從事副業程式設計講師</p>
            <p>2. 從事副業日語家教 </p>
            <p>3. 理財規劃</p>
        </div>
        <hr>
        <hr>


    </div>
    <br><br><br>

    <!--About Footer Starts Here-->
    <footer>
        <div class="wrapper text-right">
            <p>Copyright © 謝佩宸 . All Rights Reserved.</p>
        </div>
    </footer>
    <!--About Flooter Ends Here-->
</body>
</html>
